.content-section {
  position: relative;
  min-height: 100vh;
  margin-top: 100px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  --main-text-color: rgba(255, 255, 255, 0.9);
  --black-style-color: rgba(0, 0, 0, 0.85);
}

.left-content {
  width: 65%;
}

.right-sidebar {
  width: 25%;
}

.left-content__search-block {
  display: flex;
  justify-content: space-between;
}

.left-content__search {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.2s linear;
  background-color: rgba(0, 0, 0, 0.05);
}

.left-content__search:focus-within {
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.3);
  transition: 0.2s linear;
}

.search-icon {
  width: 8%;
}

.search-input {
  width: 91%;
  padding: 15px 0;
  border: none;
  padding-right: 15px;
  background-color: transparent;
}

.left-content__sort-btn {
  width: 38%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  padding: 0 15px;
}

.left-content__sort-btn {
  display: flex;
  align-items: center;
}

.sort-btn__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
}

.left-content__sort-btn {
  justify-content: space-evenly;
}

.left-content__sort-btn .select-block {
  font-size: 0.9em;
  width: 60%;
  background: none;
  color: rgba(255, 255, 255, 0.85);
}

.left-content__sort-btn .select-block option {
  color: #000;
}

/* Apartments section */
.apartments-block {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apartments-block__item {
  position: relative;
  width: 30%;
  margin: 30px 0;
  transition: 0.2s linear;
}

.apartments-block__item:hover {
  cursor: pointer;
  transition: 0.2s linear;
  transform: scale(1.05);
  -webkit-box-shadow: 1px 17px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 17px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 17px 8px 0px rgba(34, 60, 80, 0.2);
}

.apartments-block__item * {
  color: rgba(0, 0, 0, 0.9);
}

.apartments-block__item-img {
  height: 180px;
}

.apartments-block__item-img img {
  width: 100%;
  height: 180px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.apartments-block__props {
  height: 120px;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.05);
}

.apartments-block__props-location {
  margin-top: 8px;
}

.apartments-block__props-rating {
  margin-top: 10px;
}

.apartments-block__props-location {
  display: flex;
  align-items: center;
}

.apartments-block__props-location__text {
  margin-left: 10px;
}

.apartments-block__price-absolute {
  position: absolute;
  z-index: 11;
  padding: 6px 25px;
  font-size: 0.8em;
  right: 0;
  top: 30px;
  background-color: #fff;
}

.apartments-block__price-value {
  font-weight: bold;
}

.rating-icon {
  font-size: 0.8em;
}

.apartments-block__props-rating {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  width: 40%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__prev,
.pagination__next {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 12px;
  border-radius: 50%;
  transition: 0.2s linear;
}

.pagination__prev:hover,
.pagination__next:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  transition: 0.2s linear;
}

.pagination__prev:active,
.pagination__next:active {
  transition: 0.2s linear;
  transform: scale(0.9);
}

.pagination-page {
  transition: 0.2s linear;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 50%;
}

.pagination-page:hover {
  cursor: pointer;
  transition: 0.2s linear;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

/* Right sidebar styles */
.map-block {
  display: flex;
  flex-direction: column;
}

.map-block__title,
.price-block__title,
.rooms-block__title,
.facilities-block__title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--black-style-color);
}

.map-block__img {
  margin-top: 20px;
}

.price-block,
.facilities-block {
  margin-top: 80px;
}

.rooms-block {
  margin-top: 45px;
}

.price-block__inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.price-block__inputs .price-block__inputs-from,
.price-block__inputs .price-block__inputs-to {
  width: 150px;
  text-indent: 15px;
  padding: 10px 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.rooms-block__toggles,
.beds-block__toggles,
.baths-block__toggles {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.rooms-block__toggles-room,
.beds-block__toggles-bed,
.baths-block__toggles-bath {
  display: flex;
  justify-content: space-between;
}

.rooms-block__toggles-room .toggles-room__toggles,
.beds-block__toggles-room .toggles-bed__toggles,
.baths-block__toggles-room .toggles-bath__toggles {
  display: flex;
}

.toggles-room__title,
.toggles-bed__title,
.toggles-bath__title {
  font-weight: bold;
  color: var(--black-style-color);
}

.toggles-room__toggles,
.toggles-bed__toggles,
.toggles-bath__toggles {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.toggles-room__toggles *,
.toggles-bed__toggles *,
.toggles-bath__toggles * {
  color: var(--black-style-color);
}

.toggles-minus,
.toggles-plus {
  cursor: pointer;
  transition: 0.2s linear;
}

.toggles-minus:hover,
.toggles-plus:hover {
  transform: scale(1.3);
  transition: 0.2s linear;
}

.beds-block__toggles-bed,
.baths-block__toggles-bath {
  margin-top: 25px;
}

.rooms-block * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.facilities-block__items {
  margin-top: 35px;
}

.facilities-block__items__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.facilities-block__items__item__all-facilities {
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.facilities-block__items__item__all-facilities:hover * {
  color: rgba(0, 0, 0, 0.85);
  transition: 0.2s linear;
}

.facilities-block__items__item__all-facilities:active * {
  transition: 0.2s linear;
  transform: scale(0.9);
}

.facilities-block__items__item__all-facilities * {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s linear;
}

.arrow-right {
  margin-left: 15px;
  font-size: 0.8em;
  padding-top: 1px;
}

.clear-btn {
  width: 100%;
  padding: 10px 0;
  border: none;
  transition: 0.2s linear;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.clear-btn:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.3);
  transition: 0.2s linear;
}

.clear-btn:active {
  transition: 0.2s linear;
  transform: scale(0.9);
}
